<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Member!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    {% endblock %}
</head>
<body>
{% block body %}
    <div class="container-fluid">
        <nav class="navbar  navbar-expand-lg bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand text-success" href="{{ path('app_home') }}">Training Factory Den Haag</a>
                <div id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-success" aria-current="page" href="{{ path('app_contact') }}">Trainingen</a>
                        </li>
                        <li class="nav-item bg-success">
                            <a class="nav-link active text-dark" href="{{ path('app_person_new') }}">Registreren</a>
                        </li>
                        <li class="nav-item bg-success">
                            <a class="nav-link active text-dark" href="{{ path('login') }}">Inloggen</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <section class="row">
            {% block content %}{% endblock %}
        </section>
        <div class="footer bg-dark text-success">
            <div class="row">
                <div class="col-1">
                </div>
                <div class="col-4">
                    <h4 class="fw-bold text-success"> Openingstijden </h4>
                    <table class="table text-success fw-semibold">
                        <tr>
                            <td>maandag</td>
                            <td>07.00 - 21.00</td>
                        </tr>
                        <tr>
                            <td>dinsdag</td>
                            <td>07.00 - 21.00</td>
                        </tr>
                        <tr>
                            <td>woensdag</td>
                            <td>07.00 - 21.00</td>
                        </tr>
                        <tr>
                            <td>donderdag</td>
                            <td>07.00 - 21.00</td>
                        </tr>
                        <tr>
                            <td>vrijdag</td>
                            <td>07.00 - 21.00</td>
                        </tr>
                        <tr>
                            <td>zaterdag</td>
                            <td>07.00 - 21.00</td>
                        </tr>
                        <tr>
                            <td>zondag</td>
                            <td>07.00 - 21.00</td>
                        </tr>
                    </table>
                </div>
                <div class="col-2">
                </div>
                <div class="col-4">
                    <h4 class="fw-bold text-success"> Adres </h4>
                    <p class="text-success"> Tinwerf 16, Den Haag </p>
                    <h4 class="fw-bold text-success"> E-mail </h4>
                    <p class="text-success"> Trainingfactory@denhaag.nl </p>
                </div>
                <div class="col-1">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>